video {
    width:100%;
    margin-bottom:3rem;
}
h1, h2, h3 h4{
    text-align: center;
}
h2 {
    color:lightslategrey;
    font-weight: 200;
}
.container {
    max-width: 960px;
    margin:auto;
}
@media (min-width: 660px) {
  .video{
    width:45%;
    margin:auto;
  }
 }