.script {
  font-family: "Courier Prime", monospace;
  margin-bottom: 3rem;
}
.script::before {
    content: "[...]";
}
.script::after {
    content: "[...]";
}

video {
    width:100%;
    margin-bottom:3rem;
}
h1, h2, h3 h4{
    text-align: center;
}
h2 {
    color:lightslategrey;
    font-weight: 200;
    font-size: 1rem;
}
.container {
    max-width: 960px;
    margin:auto;
}

.scene {
    margin-left:0
}

.character {
    margin:1rem 12rem;
}

.dialogue {
    margin:1rem 12rem 1rem 6rem;
}

.redacted {
    color: black;
    background-color: black;
}


@media (min-width: 660px) {
  .video{
    width:45%;
    margin:auto;
  }
 }