

/* Base Styles
-------------------------------------------------*/
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton 
are based on 10px sizing. So basically 1.5rem = 15px :) */
html { 
  font-size: 62.5%;
} 
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Merriweather', serif;
  color: #ccc;
  background:#222;
}


/* Typography
-------------------------------------------------*/
h1, h2, h3, h4, h5, h6 { 
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 {
	font-size: 12vw; line-height: 1.1; font-family: 'Oswald', sans-serif;
	margin-bottom: 0rem;
}
h2 {
	font-size: 6.0vw; line-height: 1.25; font-family: 'Oswald', sans-serif;
}

p {
	font-size: 1.5rem;
}

h1,h2,label,ul,a, p {
	text-decoration:none;
	margin:0px;
	padding:0px;
	color:white;
	transition:color 0.2s;
	-webkit-transition:color 0.2s;/* Safari */
	-ms-transition:color 0.2s;
	-0-transition:color 0.2s;
	/* transition:color 0.2s; */
}

#main {
	padding: 1.5% 2%;
	z-index:-1;
	text-align: left;
	display:inline-block;
	min-width:95%;
}


#menu span {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 0;
}

ul {
	list-style-type: none;
}

.hidden {
	display: none;
}

#menu li {
	display: inline-block;
	margin-right: 4vw;
	margin-bottom: 5vw;
	/*padding-right:2rem;*/
}

#menu label, #menu a{
	cursor: pointer;
}

#main #menu .label{
  color:#f7cd88;
}

#projects:checked~#main #menu .projects,
#bio:checked~#main      #menu .bio,
#cv:checked~#main       #menu .cv,
#friends:checked~#main  #menu .friends {
  color: #ccc;
}

#main #menu .label:hover{
  color:#fff;
}


#projects:checked~#main #content .projects,
#bio:checked~#main      #content .bio,
#cv:checked~#main       #content .cv,
#friends:checked~#main  #content .friends {
  display: block;
}

#menu a:hover,
#menu a:active {
	color: #fff;
	z-index: 10;
}

#content .projects img{
	width: 100%;
	margin: 2rem 0;
	z-index: -100;
}

#content .projects ul{
	display:grid;
	column-gap: 2%;
	row-gap: 2%;
}
	
#content .friends ul{
	max-width:1000px;
}

#content .bio p, #content .friends p{
	font-size: 120%;
	/*display:inline block;*/
	color:#ccc;
}

#content .friends p {
	margin-bottom:2rem;
}

@media (min-width: 648px) {
	#content .projects ul{
		grid-template-columns: 49% auto;
	}

	#content .bio p, #content .friends p{
		font-size: 200%;
	}
	#content .friends ul{
		column-count:2;	
	}
}
@media (min-width: 1200px) {
	#content .projects ul{
		grid-template-columns: 32% 32% auto;
	}
	#content .projects p {
		font-size: 2rem;
	}

	#content .bio p, #content .friends p{
		font-size: 200%;
	}
}
@media (min-width: 1500px) {
	h1 {
		font-size: 18rem;
		margin-bottom:0rem;
	}
}