html {
       /*overflow-y: scroll;*/
}
body
{
	
	background:#a2a2a2;
	font-family: League Gothic;
	font-size:16pt;
}
h1,h2,p,a,ul
	{
		text-decoration:none;
		margin:0px;
		padding:0px;
		color:#fff;
		font-family: League Gothic;
		-webkit-transition:color 0.2s; /* Safari */
		-webkit-transition:color 0.2s;
		-ms-transition:color 0.2s;
		-0-transition:color 0.2s;
		transition:color 0.2s;
		text-rendering: optimizeLegibility;
		font-feature-settings: "kern";
		-webkit-font-feature-settings: "kern";
		-moz-font-feature-settings: "kern";
		-moz-font-feature-settings: "kern=1";
	}
h1
	{
		line-height:80pt;
		font-size: 80pt;
	}
p
	{
		font-size:16pt;
	}
a
	{
		color:#f7cd88;
	}
h2
	{
		font-size:32pt;
	}
/*
#page-wrap, #page-wrap * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/
#page-wrap {
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%);
	margin:0px;
	padding:0px;
	position:relative;
	/*left:0px;*/
	top:0px;
    background:#a2a2a2;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

#padded_left {
	z-index:-1;
	position: absolute;
	margin-left:10%;
	top: 0;
}

#main{

	z-index:2;
	margin-left:30%;
	margin-right:10%;
	text-align: left;
	text-align: justify;
	width:60%;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
}



#main span {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 0;
}

#main a:hover
	{
		color:#fff;
	}

@media (max-width: 800px) {
		aside, section { width: auto; float: none; }
	}
@media (min-width: 1000px) {
		body
		{
			font-size: 2vw;
		}
		h1
		{
			line-height:10vw;
			font-size: 11vw;
		}
		p
		{
			font-size: 2vw;
		}
		h2
		{
			font-size: 4vw;
			line-height:5vw;
		}
		#padded_left
		{
			z-index: -10;
		}
		#main
		{
			margin-left:auto;
			margin-right:auto;
			z-index: 10;
			width:31vw;
		}
	}