

/* Base Styles
-------------------------------------------------*/
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton 
are based on 10px sizing. So basically 1.5rem = 15px :) */
html { 
  font-size: 62.5%; } 
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Merriweather', serif;
  color: #222;
  background:#a2a2a2;
}


/* Typography
-------------------------------------------------*/
h1, h2, h3, h4, h5, h6 { 
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 {
	font-size: 12vw; line-height: 1.1; font-family: 'Oswald', sans-serif;
}
h2 {
	font-size: 6.0rem; line-height: 1.25; font-family: 'Oswald', sans-serif;
}

p { font-size: 1.8rem; line-height: 1;}

h1,h2,p,a,ul {
	text-decoration:none;
	margin:0px;
	padding:0px;
	color:#fff;
	transition:color 0.2s;
	-webkit-transition:color 0.2s;/* Safari */
	-ms-transition:color 0.2s;
	-0-transition:color 0.2s;
	/* transition:color 0.2s; */
}

h1{
	margin-bottom:2rem;
}

a {
	color:#f7cd88;
	cursor: default;
}

#main {
	padding: 1.5% 2%;
	z-index:-1;
	text-align: left;
	display:inline-block;
	min-width:95%;
}


#main span {
  display: inline-block;
  /* margin-right: 2rem; */
  /* padding-right:2rem; */
  position: relative;
  width: 100%;
  height: 0;
}

@media (min-width: 1130px) {
	#main a:hover {
		color:#fff;
		cursor: pointer;
	}
	h2{
		font-size: 11.0rem; line-height: 1.25; font-family: 'Oswald', sans-serif;
	}
}

@media (min-width: 1500px) {
	h1 {
		font-size: 180px;
		margin-bottom:0rem;
	}
}