html {
       overflow-y: scroll;
}
body
{
	
	background:#a2a2a2;
	font-family: League Gothic;
	font-size: 2vw;

}
h1,h2,p,a,ul
	{

		text-decoration:none;
		margin:0px;
		padding:0px;
		color:#fff;
		font-family: League Gothic;
		transition:color 0.2s;
		-webkit-transition:color 0.2s; /* Safari */
	}
h1
	{
		line-height:10vw;
		padding-top:3%;
		padding-bottom:0%;
		font-size: 80pt;
		font-size: 11vw;
	}
p{
	font-size: 2vw;
}

a

	{
		color:#f7cd88;
	}

h2
	{
		font-size: 90pt;
		font-size: 4vw;
		line-height:10vw;
	}
	


#page-wrap, #page-wrap * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#page-wrap{
	margin-right: auto;
	margin-left: 3%;
	margin-left: 3%;
}

#padded_left {
	z-index:-1;
	position: absolute;
	right:auto;
	margin-left:-1%;
	top: 0;
}

#main{
	margin-top:4%;
	margin-left:auto;
	margin-right:auto;
	text-align: left;
	text-align: justify;
	width:31vw;
}



#main span {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 0;
}

#main a:hover
	{
		
		color:#fff;
	}

@media (max-width: 800px) {
		aside, section { width: auto; float: none; }
	}