html {
       /*overflow-y: scroll;*/
}
body
{
	float:none;
	overflow:auto;
	background:#c0cdcf;
}
h1,h2,p,a,ul
	{
		/*font-style:italic;*/
		font-weight:normal;
		text-decoration:none;
		margin:0px;
		padding:0px;
		color:#43525f;
		font-family: Georgia;
		transition:color 0.2s;
		-webkit-transition:color 0.2s; /* Safari */
	}
	
a
	{
		color:#fff;
	}
h1
	{
		text-align:center;
		line-height:80pt;
		font-size: 80pt;
	}
h2
	{
		font-size:16pt;
		text-align:center;
	}
p
	{
		margin:40px 0px;
		font-size:12pt;
	}

#slide1_controls span, p {
	margin:0;
}

#controls{
	z-index:101;
	position:fixed;
	top:30px;
	vertical-align:center;
}

#slide1_controls
{
	
	}

#slide1_controls span, a {
    cursor:pointer;
  }
	
#slide1_container
{
		/*left:100%;
		position:absolute;*/
		-webkit-transform:translateX(100%);
		transform:translateX(100%);
		overflow-y:auto; /* So the sliding bit doesn't stick out. */
		overflow-x:hidden;
		width:100%;
		height:100%;
		background:#c0cdcf;
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-ms-transition: all 1s;
		-o-transition: all 1s;
		transition: all 1s;

	}

#main
	{
		z-index:100;
		position:absolute;
		background:#c0cdcf;
		overflow-y:auto;
		text-align:justify;
		-webkit-transition:all 1.0s ease-in-out;
		-moz-transition:all 1.0s ease-in-out;
		-o-transition:all 1.0s ease-in-out;
		transition:all 1.0s ease-in-out;
		
	}

	#main p
	{
		margin:20px 20%;
	}