html,body {
    height:100%;
}

.bg_heart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('../images/st-valentine.jpg');
    background-size: contain;
 }

 .fg_singer {
    position: absolute;
    right:0;
    bottom:0;
    height:100%;
    width:100%;
    max-width: 500px;
    background-image: url('../images/tunnel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
 }

 .fg_singer ul {
    position:absolute;
    right:10px;
 }

 #overlay_container {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  /*cursor: pointer;*/ /* Add a pointer on hover */
}

.overlay {
  background-color: rgba(255,255,255,1);
  color: black;
  max-width: 600px;
  min-width: 400px;
  width:80vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
  -ms-transform: translate(-50%,0%);
  padding:50px;
  padding-bottom:100px;
  padding-top: 0px;
  height: 100%;
  overflow-y: scroll;
  display:none;
}

.overlay.active {
  display:block;
}

.overlay img {
  width:120%;
  margin: 0 -10%;
}

#overlay_container .dots{
    position:absolute;
    right:10px;
}

.overlay form {
   font-family: sans-serif;
}

.overlay form button{
  background-color: #FF6B6B;
  border: none;
  margin: none;
  padding: 0 20px;
  height: 1.5rem;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}

.heart {
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg)
 }

.heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

.heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}
@-ms-keyframes love {
  0%{top:110%}
}
@keyframes love {
  0%{top:110%}
}

@media (min-width: 400px) {
  html{
    font-size:150%;
  }
}